@model WebDauThauOnline.Models.ThongBaoMoiThauViewModel

@{
    ViewBag.Title = "Thông tin chi tiết";
}
<style>
    th {
        background-color: #f2f2f2;
        width: 30%;
    }

    table {
        table-layout: fixed;
        border: solid 1px
    }

    .time-container {
        padding: 10px 10px 10px 10px;
        text-align: center;
        background-color: darkblue;
        margin-bottom: 20px;
    }
    
</style>
<div style="width: 100%; overflow: hidden;">
    <div class="col-sm-3"  style=" height: auto; float: left; margin:100px 0 0 0">
        <div class="time-container">
            <h4 style="color: white; font-weight:bold">Thời điểm đăng tải</h4>
            @if (Model.ThongBaoMoiThauModel.Thời_điểm_đăng_tải != null)
            {
                <h3 style="color: white; font-weight: bold">@Model.ThongBaoMoiThauModel.Thời_điểm_đăng_tải.Value.ToString("dd/MM/yyyy HH:mm")</h3>
            }
            else
            {
                <h3 style="color: white; font-weight: bold">NaN</h3>
            }
        </div>
        <div class="time-container" style="background-color:red">
            <h4 style="color: white; font-weight: bold">Thời điểm đóng thầu</h4>
            @if (Model.ThongBaoMoiThauModel.Thời_điểm_đóng_mở_thầu != null)
            {
                <h3 style="color: white; font-weight: bold">@Model.ThongBaoMoiThauModel.Thời_điểm_đóng_mở_thầu.Value.ToString("dd/MM/yyyy HH:mm")</h3>
            }
            else
            {
                <h3 style="color: white; font-weight: bold">NaN</h3>
            }
        </div>
@*        <div class="time-container">
            <h4>Thời điểm đăng tải</h4>
            <h3>@Model.ThongBaoMoiThauModel.Thời_điểm_đăng_tải.Value.ToString("dd/MM/yyyy HH:mm")</h3>
        </div>*@
    </div>
    <div class="col-sm-9"  style=" float: right;">
        <div>
            <h3>Thông Tin Chi Tiết</h3>
            @if (Session["ID"] != null)
            {
                if (Model.ThongBaoMoiThauModel.AccountID == (int)Session["ID"])
                {
                    <p>@Html.ActionLink("Chỉnh sửa", "Edit", "ThongBaoMoiThau", new { id = Model.ThongBaoMoiThauModel.ID }, null) | @Html.ActionLink("Xóa", "Delete", "ThongBaoMoiThau", new { id = Model.ThongBaoMoiThauModel.ID }, null)</p>
                }
            }
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Số_TBMT)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Số_TBMT)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Số_hiệu_KHLCNT)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Số_hiệu_KHLCNT)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Lĩnh_vực)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Lĩnh_vực)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Bên_mời_thầu)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Bên_mời_thầu)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Tên_gói_thầu)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Tên_gói_thầu)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Phân_loại)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Phân_loại)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Tên_dự_toán_mua_sắm)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Tên_dự_toán_mua_sắm)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Chi_tiết_nguồn_vốn)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Chi_tiết_nguồn_vốn)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Loại_hợp_đồng)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Loại_hợp_đồng)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Hình_thức_lựa_chọn_nhà_thầu)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Hình_thức_lựa_chọn_nhà_thầu)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Phương_thức_LCNT)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Phương_thức_LCNT)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Thời_gian_thực_hiện_hợp_đồng)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Thời_gian_thực_hiện_hợp_đồng)
                </td>
            </tr>
        </table>
        <h3>Tham dự thầu</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Hình_thức_dự_thầu)
                </th>

                <td colspan="3">
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Hình_thức_dự_thầu)
                </td>
            </tr>
            @*        <tr>

                </tr>*@
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Chi_phí_E_HSMT)
                </th>

                <td colspan="3">
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Chi_phí_E_HSMT)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Thời_gian_hiệu_lực_của_E_HSDT)
                </th>

                <td colspan="3">
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Thời_gian_hiệu_lực_của_E_HSDT)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Địa_điểm_nhận_HSDT)
                </th>

                <td colspan="3">
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Địa_điểm_nhận_HSDT)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Địa_điểm_thực_hiện_gói_thầu)
                </th>

                <td colspan="3">
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Địa_điểm_thực_hiện_gói_thầu)
                </td>
            </tr>
        </table>
        <h3>Mở thầu</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Thời_điểm_đóng_mở_thầu)
                </th>

                <td>
                    @if (Model.ThongBaoMoiThauModel.Thời_điểm_đóng_mở_thầu != null)
                    {
                        @Model.ThongBaoMoiThauModel.Thời_điểm_đóng_mở_thầu.Value.ToString("dd/MM/yyyy hh:mm tt")
                    }
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Địa_điểm_mở_thầu)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Địa_điểm_mở_thầu)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Dự_toán_gói_thầu)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Dự_toán_gói_thầu)
                </td>
            </tr>
        </table>
        <h3>Bảo đảm dự thầu</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Số_tiền_bảo_đảm_dự_thầu)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Số_tiền_bảo_đảm_dự_thầu)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Hình_thức_bảo_đảm_dự_thầu)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ThongBaoMoiThauModel.Hình_thức_bảo_đảm_dự_thầu)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThongBaoMoiThauModel.Hồ_sơ_mời_thầu)
                </th>
                <td>
                    @foreach (var item in Model.Files)
                    {
                        @Html.ActionLink(item.Name, "DownLoadFile", new { id = item.ID })
                        <br />
                    }
                </td>
            </tr>
        </table>


        <div>
            @Html.ActionLink("Về trang chủ", "Index", "Home")
        </div>
    </div>
</div>