@model  WebDauThauOnline.Models.NhaThauSearchViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách nhà thầu";
}
<style>
    th {
        text-align: center;
        padding: 0.5em 0.5em 0.5em 0.5em;
        white-space: nowrap;
    }

    td {
        padding: 0.5em 0.5em 0.5em 0.5em
    }
</style>
@using (Html.BeginForm("GetList", "NhaThauDaDuyets", FormMethod.Post))
{
    <div id="search-bar" style=" margin: auto ">
        <h3>Bộ lọc tìm kiếm</h3>
        <div class="container">
            <div class="row">
                @Html.DropDownListFor(model => model.NhaThauSearchModel.Nhà_Thầu, ViewBag.Nhà_Thầu_EnumList as SelectList, new { Class = "form-control col-md-3", @style = "margin: auto; width: 140px" })

                @Html.EditorFor(model => model.NhaThauSearchModel.Số_ĐKKD, new { htmlAttributes = new { Class = "form-control col-md-3", @placeholder = "Số ĐKKD", @style = "margin: auto; width: 320px", @maxlength = "10", onkeypress = "return isNumber(event)" } })

                @Html.DropDownListFor(model => model.NhaThauSearchModel.Tỉnh_Thành_Phố, ViewBag.Tỉnh_Thành_Phố_EnumList as SelectList, "-Tỉnh/ Thành phố-", new { Class = "form-control col-md-3", @style = "margin: auto; width: 170px" })
            </div>
            <div class="row">
                @Html.EditorFor(model => model.NhaThauSearchModel.Tên_nhà_thầu, new { htmlAttributes = new { Class = "form-control col-md-6", @placeholder = "Tên nhà thầu", @style = "margin: auto;width: 280px" } })

                @Html.EditorFor(model => model.NhaThauSearchModel.Từ_ngày, new { htmlAttributes = new { Class = "form-control col-md-2", @placeholder = "Từ ngày", onfocus = "(this.type='date')", id = "Từ_ngày", @style = "margin: auto; width: 150px" } })

                @Html.EditorFor(model => model.NhaThauSearchModel.Đến_ngày, new { htmlAttributes = new { Class = "form-control col-md-2", @placeholder = "Đến ngày", onfocus = "(this.type='date')", id = "Đến_ngày", @style = "margin: auto; width: 150px" } })

                <input type="submit" value="Tìm" class="btn btn-primary col-md-2" style="margin:auto; display:block; width:50px" />
            </div>
        </div>
    </div>
}

<h3>Danh sách nhà thầu được phê duyệt</h3>
<table class="table-bordered table-striped">
    @if (Model.NhaThauDaDuyetModel != null)
    {
        if (Model.NhaThauDaDuyetModel.Count() != 0)
        {
            <tr style="background-color:lightgray">
                <th>
                    STT
                </th>
                <th>
                    Tên nhà thầu
                </th>
                <th>
                    Số ĐKKD
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Ngày phê duyệt
                </th>
                <th>
                    Trạng thái
                </th>
            </tr>
            int i = 1;
            foreach (var item in Model.NhaThauDaDuyetModel)
            {
                <tr>
                    <td style="text-align:center">
                        @i
                    </td>
                    <td>
                        @Html.ActionLink(item.Tên_nhà_thầu, "Details", "NhaThauDaDuyets", new { id = item.ID }, null) <br />
                    </td>
                    <td style="text-align:center">
                        @item.Số_ĐKKD
                    </td>
                    <td>
                        @item.Địa_chỉ
                    </td>
                    <td style="text-align:center">
                        @if (item.Ngày_phê_duyệt != null)
                        {
                            @item.Ngày_phê_duyệt.Value.ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td style="text-align:center">
                        @item.Trạng_thái_đóng_phí
                    </td>
                </tr>
                i = i + 1;
            }
        }
    }
</table>
@if (Model.NhaThauDaDuyetModel != null)
{
    if (Model.NhaThauDaDuyetModel.Count() == 0)
    {
        <div style="padding: 1em 1em 1em 1em; background-color:whitesmoke">
            Không tìm thấy dữ liệu
        </div>
    }
}
@if (Model.NhaThauDaDuyetModel == null)
{
    <div style="padding: 1em 1em 1em 1em; background-color:whitesmoke">
        Không tìm thấy dữ liệu
    </div>
}



@if (Model.NhaThauDaDuyetModel != null)
{
    if (Model.NhaThauDaDuyetModel.Count() != 0)
    {
        <br />
        @Html.PagedListPager(Model.NhaThauDaDuyetModel, page => Url.Action("GetList",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    }

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/SearchBar.css")
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
}